@import 'variables';

.contactForm {
    width: 80%;
    margin:40px auto;
    height: 500px;
    border-radius: 15px;
    border:1px solid $violet;
    background-color: $violet;
}

.contactSection {
    text-align: center;
    margin-top: 30px;
    margin-bottom:80px;
    display:grid;
    grid-column-start:auto;

    p {
        padding:10px;
        font-size: 1.3rem;
    }

    h3 {
        font-size: 3rem;
    }

    input[name='email'], input[name='name'] {
        margin-top:20px;
        width: 70%;
        height: 35px;
    }

    input[name='email'] {
        margin-top:50px;
    }

    textarea {
        margin-top:20px;
        width: 70%;
        height: 150px;
    }

    input[type='submit'] {
        background-color:$grey;
        margin-top:40px;
        margin-bottom:10px;
        width: 70%;
        height: 74px;
        border-radius: 5px;
        font-size: 2rem;
    }

    input[type='submit']:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    span {
        margin-top:15px;
        color:$grey;
        padding:10px;
    }

    img {
        width:50px;
        margin-top:20px;
    }
    
}

@media screen and (min-width:768px) {
    .contactSection {
        grid-column: 1 / 3;

        input[type='submit'] {
            max-width:700px;
        }

        p {
            font-size: 2rem;
        }
    }
}